include LICENSE
include README.md
include CONTRIBUTING.md
include requirements.txt
include pytest.ini
include .env.example

recursive-include frontend *
recursive-include templates *
recursive-include staticfiles *
recursive-include media *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude node_modules *
recursive-exclude venv *
recursive-exclude logs *
recursive-exclude .git *

global-exclude *.log
global-exclude .DS_Store
global-exclude desktop.ini
global-exclude Thumbs.db 