asgiref==3.8.1
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
pillow==11.2.1
sqlparse==0.5.3
tzdata==2025.2
python-decouple==3.8
django-storages==1.14.2
boto3==1.34.34
django-ratelimit==4.0.0
gunicorn==21.2.0
whitenoise==6.6.0 